@model  Trackables.Models.ProductViewModel
@using Trackables.Domain

@{
    ViewBag.Title = "Edit Product";
    Layout = "~/Views/Shared/_TrackablesLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <br />

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">

        <div class="col-md-4">
            @foreach (string key in Model.MacroNutrients.Keys)
            {
                <div class="form-group">
                    @Html.Label(key, new { @class = "col-md-6 control-label" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.MacroNutrients[key], new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MacroNutrients[key])
                    </div>
                </div>
            }
        </div>

        <div class="col-md-4">
            @foreach (string key in Model.MicroNutrients.Keys.Take(11))
            {
                <div class="form-group">
                    @Html.Label(key, new { @class = "col-md-6 control-label" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.MicroNutrients[key], new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MicroNutrients[key])
                    </div>
                </div>
            }
        </div>

        <div class="col-md-4">
            @foreach (string key in Model.MicroNutrients.Keys.Skip(11))
            {
                <div class="form-group">
                    @Html.Label(key, new { @class = "col-md-6 control-label" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.MicroNutrients[key], new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MicroNutrients[key])
                    </div>
                </div>
            }
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <p><button type="submit" class="btn btn-success">Save</button></p>
            <div><a href="@Url.RouteUrl("Products")">Back to List</a></div>
        </div>

    </div>
}


<script src="@Url.Content("~/Scripts/trackables-products.js")" type="text/javascript"></script>

