@model  Trackables.Models.MealViewModel
@using Trackables.Domain

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_TrackablesLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-md-12">

            <div class="form-group">
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <p><button type="submit" class="btn btn-primary">Create</button></p>

        </div>
    </div>
}

<div>@Html.ActionLink("Back to List", "Index", new { htmlAttributes = new { @class = "btn btn-link" } })</div>

