@model  Trackables.Models.MealViewModel
@using Trackables.Models

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.HiddenFor(model => model.Id)

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)


    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div id="fetch">
        <input class="no-clear typeahead form-control" type="text" placeholder="Products">
    </div>

    <div id="ingredientsTableDiv">
        <table id="ingredientsTable">
            <tr>
                <th>
                </th>
            </tr>
            @foreach (var ingredient in Model.Ingredients)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => ingredient.Name)
                    </td>
                    <td>
                        <input class='input-quantity' id=@ingredient.Id name=@ingredient.Quantity type='text' value=@ingredient.Quantity>
                    </td>
                    <td>
                        @Html.ActionLink("Save", "SaveIngredient", new { id = ingredient.Id, mealId = Model.Id }, new { @class = "SaveIngredientLink" })
                        @Html.ActionLink("Delete", "DeleteIngredient", new { id = ingredient.Id, mealId = Model.Id }, new { @class = "DeleteIngredientLink" })
                    </td>
                </tr>
            }
        </table>
    </div>

    <p>
        <input type="submit" value="Save" />
    </p>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script src="@Url.Content("~/Scripts/typeahead.bundle.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/typeahead.jquery.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/trackables-meals.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/trackables-typeahead.js")" type="text/javascript"></script>


