@using Trackables.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="row">
        <div class='col-md-12'>
            <div class="form-group">
                <input type='text' class="form-control" id='datetimepicker' />
            </div>
        </div>
    </div>

    <div id="fetch">
        <input class="no-clear typeahead form-control" type="text" placeholder="Products">
    </div>

    <br />

    <div class="row">
        <div class="col-md-6">
            @{Html.RenderPartial("FoodItemTable", new FoodItemTableViewModel());}
        </div>
        <div class="col-md-6">
            @{Html.RenderPartial("MealsTable", new MealsTableViewModel());}
        </div>
    </div>

}

<script src="@Url.Content("~/Scripts/typeahead.bundle.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/typeahead.jquery.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/trackables-typeahead.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/trackables-common.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/trackables-foodlog.js")" type="text/javascript"></script>



